.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana, sans-serif;
}

.header {
  display: grid;
  place-items: center;
}

.header .header-title {
  font-weight: bold;
  color: white;
  background: transparent;
}

.header .header-description {
  font-size: 1.5em;
  font-style: italic;
  color: white;
}

.profile-img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

.main {
  margin: 1em;
}

.main-activities .main-activities-title {
  font-size: 20px;
}

.main-activities .main-activities-hobbies {
  text-align: center;
}

.main-activities .main-activities-hobbies li {
  background-color: rgb(23, 23, 31);
  color: white;
  text-align: center;
  font-family: "Operator Mono";
  font-size: 22px;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.main-activities .main-activities-activities {
  text-align: center;
}

.main-activities .main-activities-activities li {
  background-color: rgb(23, 23, 31);
  color: white;
  text-align: center;
  font-family: "Operator Mono";
  font-size: 22px;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.lema-container {
  display: grid;
  place-items: center;
}

.label {
  background-color: rgb(23, 23, 31);
  color: white;
  text-align: center;
  font-family: "Operator Mono";
  font-size: 22px;
  padding: 10px;
  border-radius: 2px;
}


.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.social-media .social-media-button {
  border: solid 1px lightcyan;
  padding: 1em;
  border-radius: 10px;
  background-color: lightblue;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.social-media .social-media-button .social-media-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: transparent;
}

.social-media .social-media-button .social-media-title {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  justify-self: center;
}
