.caja {
  background-color: thistle;
  width: 100px;
  height: 100px;
}
.navbar {
  background: thistle;
  /* position: fixed; */
  /* position: sticky; */
  position: static;
  width: 100%;
  top: 0px;
  left: 0px;
}
.presentacion {
  height: 2000px;
}
.absoluta {
  position: absolute;
  background-color: tomato;
  width: 200px;
  z-index: 1;
}
.relativa {
  position: relative;
  z-index: 0;
}
.sticky {
  position: sticky;
  right: 0px;
  bottom: 0px;
}
.fixed {
  position: fixed;
}
