* {
  box-sizing: border-box;
  border: 1px solid red;
}
.root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  background-color: tan;
  display: grid;
  grid-template-columns: 350px auto;
  margin: 0;
}

.chat-img,
.action-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: lightgrey;
  padding: 5px;
}

.chat-img img,
.action-icon img {
  width: 100%;
  height: 100%;
}

.chat-actions {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-items: center;
  padding: 5px;
}

.chat-header {
  display: grid;
  grid-template-columns: 0.7fr 2fr 2fr;
  grid-row: auto;
  align-items: center;
  padding: 0 5px;
}

.chat-img {
  justify-self: start;
}
.chat-title {
  font-size: 1.4em;
  font-weight: bold;
  justify-self: start;
}

.chat {
  height: 100vh;
  border-right: 1px solid lightgrey;
}
.chat-search {
  padding: 5px;
  position: relative;
}

.chat-search img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}

.chat-search input {
  border-radius: 8px;
  width: 100%;
  padding: 7px;
  padding-left: 28px;
  border: none;
  background-color: lightgrey;
}
